<?xml version="1.0"?>
<config>
    <frontend>
        <layout>
            <updates>
                <nodwell_dashboard module="Nodwell_Dashboard">
                    <file>nodwell_dashboard.xml</file>
                </nodwell_dashboard>
            </updates>
        </layout>
        <routers>
            <nodwell_dashboard>
                <use>standard</use>
                <args>
                    <module>Nodwell_Dashboard</module>
                    <frontName>nodwell_dashboard</frontName>
                </args>
            </nodwell_dashboard>
        </routers>
    </frontend>
    <global>
        <helpers>
            <nodwell_dashboard>
                <class>Nodwell_Dashboard_Helper</class>
            </nodwell_dashboard>
        </helpers>
        <blocks>
            <dashboard>
                <class>Nodwell_Dashboard_Block</class>
            </dashboard>
        </blocks>
    </global>
</config>